@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

@layer base {
  @layer base {
    :root {
      --gradient-stops: circle at 3% 25%, rgb(2, 42, 94) 0%, rgb(9, 25, 49) 100%;

      --radial-modal-stops: circle at 50% 50%, rgba(0, 40, 83, 1) 0%,
        rgba(22, 68, 137, 1) 100%;
    }
  }
  * {
    @apply box-border p-0 m-0;
  }

  body {
    @apply tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-6xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 dark:shadow-gray-900 rounded-xl uppercase bg-[#5543faea] dark:bg-blue-600 text-white hover:-translate-y-1 focus:translate-y-0 ease-linear duration-500;
  }
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #eee;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 3.5px solid transparent;
  background-clip: content-box;
  background-color: #999;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
